[Unit]
Description=myq
After=network.target
StartLimitInterval=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=myq
ExecStart=/usr/share/myq/startmyq.sh

Restart=on-failure

[Install]
WantedBy=multi-user.target