[Unit]
Description=myq
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=myq
ExecStart=/usr/share/myq/startmyq.sh

[Install]
WantedBy=multi-user.target
